:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--snow);
    background-color: var(--light-green);
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--snow);
    width: 28rem;
    color: var(--wine-red);
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

h1~span {
    color: var(--gold);
}

.countdown-display {
  font-size: 40px;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex p {
  padding: 0 0.3rem;
}